VITE_SUPABASE_URL=https://xizoaezeoyezmdxurarn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhpem9hZXplb3llem1keHVyYXJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwNzcxMjgsImV4cCI6MjA5NjY1MzEyOH0.m54YCPcG8fwzMBkrGACwhwniznqZ5f_ncrvH0Et8Dxs
